---
import "../styles/index.css";
import Layout from "../layouts/Layout.astro";
---
<Layout>
</Layout>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" size="32x32" href="/favicon.webp" type="image/webp" />
    <title>404 - Page Not Found</title>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>404   Page Not Found <i class="fa-solid fa-magnifying-glass"></i></h1>
      <hr/>
      <div class="links">
        <a href="https://frankk.uk/"><i class="fa-solid fa-arrow-left"></i>Return to Home</a>
        <a href="mailto:mail@frankk.uk" target="_blank"><i class="fa-regular fa-envelope"></i>Or Contact Me</a>
      </div>
      <br/>
    </div>
  </body>